@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

.wrapper-nav {
    background-color: #1F2937;
    width: 100%;
}

.wrapper-hero {
    background-color: #1F2937;
    width: 100%;
}