@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

.nav {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    font-size: 20px;
    font-weight: 900;
    color: white;
    flex: 1;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}