.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    width: 80%;
    gap: 20px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 464px;
}

img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 20px;
}

.btn-sign-up {
    background-color: #3882F6;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 10px 34px;
    align-self: start;
    cursor: pointer;
}