.add-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

h3 {
    font-size: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cards {
    max-width: 150px;
}

.placeholder {
    width: 100%;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.info-text {
    text-align: center;
}