.quotes-wrapper {
    width: 100%;
    background-color: #E5E7EB;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 34px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 500px;
    margin: auto;
}

span {
    font-weight: 900;
    font-size: 20px;
    align-self: end;
}